
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    @{ 
        for(int i=0;i<10;i++)
            {
                <h1>This is loop practice @i</h1>
        }
        var list = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8 };
        foreach(var item in list)
            {
                <h1>This is my Foreach loop @item</h1>
            }
    }
    <table>
        <tr>
            <td>
                <img src="~/images/fireless.cooking.7th.PNG" />"
            </td>
        </tr>
    </table>
</body>
</html>
